// height
$app-header-height: 3.5rem;
// colors
$light-color: #ffffff;
$gray-light-color: #eaeaea;
$dark-color: #24292f;
// statuses colors
$added-color: #77b0f5;
$incheck-color: #88a38b;
$approved-color: #00bd8f;
$active-color: #597eaa;
$inactive-color: #7f7f7f;
