// colors
$light-color: #ffffff;
$gray-light-color: #eaeaea;
$dark-color: #24292f;
$overlay-color: gray;
// height
$overlay-height: calc(100% - 3.5rem);
$app-header-height: 3.5rem;
// width
$max-app-width: 80rem;
