@import "./assets/style/variables.scss";

#app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  min-height: $app-header-height;
  line-height: $app-header-height;
  text-align: center;
  color: $light-color;
  background: $dark-color;
  margin-bottom: 1rem;
}

.Toastify__toast {
  min-width: max-content;
}
